.tabs_and_navs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    color: rgb(77, 77, 241);
}
li{
    list-style: none;
    cursor: pointer;
}
.active{
    background: rgb(77, 77, 241);
    color: white;
    border-radius: .3rem;
    padding: .5rem ;
}
.content{
    width: 50%;
    text-align: center;
    margin: auto;
}
.content div{
     display: none;
}
.content div:nth-child(1){
    background: crimson;
    border-radius: 1rem;
}
.content div:nth-child(2){
    background: palevioletred;
    border-radius: 1rem;
}
.content div:nth-child(3){
    background: orangered;
    border-radius: 1rem;
}
.show{
    display: block !important;
}